<!DOCTYPE html>
<html>
    <%- partial('_partial/head') %>
<body>
    <header id="header">
    <%- partial('_partial/header') %>
    </header>

    <%- body %>
    
    <footer id="footer">
    <%- partial('_partial/footer') %>
    </footer>
    <%- partial('_partial/after_all') %>
</body>
</html>
