<article class=" article-short">
    <div class="row">
        <div class="col c4">
            <header class="article-short-header">
                <h2>
                    <a href="<%- config.root %><%- item.path %>">
                        <%= item.title %>
                    </a>
                </h2>
                <time pubdate datetimes="<%- item.date.toISOString() %>">
                    <h4>
                        <%- item.date.format("DD MMM YYYY") %>
                    </h4>
                </time>
                <div class="tags">
                    <%- partial('post/tag') %>
                </div>
            </header>
        </div>
        <div class="col c8">
            <section class="article-short-content">
                <%- item.excerpt %>
                    <p><a href="<%- config.root %><%- item.path %>">Read More ></a></p>
            </section>
        </div>
    </div>
    <div class="clearfix"></div>
</article>