<article class="<%= item.layout %>">
    <header class="page-header">
        <div class="row page-header-title">
            <h1 class="col c9">
                <%= item.title %>
            </h1>
            <div class="col c3 col-right">
                <a class="ico backlink articles-nav" href="<%- config.root %>" title="Go to <%- config.root %>">
                    <span class="backlink-details">Home</span> ^</a>
            </div>
        </div>
        <div class="page-subheader">
            <time pubdate datetimes="<%- item.date.toISOString() %>">
                <h4>
                    <%- item.date.format("DD MMM YYYY") %>
                </h4>
            </time>
            <div class="tags">
                <%- partial('tags') %>
            </div>
        </div>
    </header>

    <div class="article-entry">
        <%- item.content %>
    </div>

</article>