<% var hero = index && page.current === 1; %>
<% var subheader = hero || page.tag; %>
<header class="page-header">
    <div class="row page-header-title">
        <h1 class="col c7">
            <% if (hero) { %>
            <%= config.title %>
            <% } else { %>
            <a href="<%- config.root %>">
                <%= config.title %>
            </a>
            <% } %>
        </h1>
        <div class="col c5 col-right">
            <%- partial('_partial/shareicons') %>
        </div>
    </div>
    <% if (subheader) { %>
    <div class="page-subheader">
        <% if (hero) { %>
        <p class="hero-blurb">
            I create software. If you're interested in that kind of thing, <a href="<%- config.root %>contact">contact me</a>!
        </p>
        <% } %>
        <% if (page.tag) { %>
        <h4>
            Viewing posts for tag <span class="tag"><%= page.tag %></span>
        </h4>
        <% } %>
    </div>
     <% } %>
</header>