<div class="share-icons">
    <a class="social-symbol" title="twitter" target="_blank" href="<%- theme.twitter %>">&#xe086;</a>
    <a class="social-symbol" title="github" target="_blank" href="<%- theme.github %>">&#xe037;</a>
    <a class="social-symbol" title="google plus" target="_blank" href="<%- theme.google_plus %>">&#xe039;</a>
    <a class="social-symbol" title="linkedin" target="_blank" href="<%- theme.linked_in %>">&#xe052;</a>
    <a class="social-symbol" title="blog feed" target="_blank" href="<%- theme.rss %>">&#xe071;</a>
</div>